<h1 id="title">わが家の家計簿</h1>
<div class="menu">
	<ul class="nav nav-justified nav-tabs menu" role="tablists">
		<li class="nav-item"><a class="nav-link active" role="tab" href="#home" id="home">HOME</a></li>
		<li class="nav-item"><a class="nav-link" role="tab" href="#badget" id="badget">予算決め</a></li>
		<li class="nav-item"><a class="nav-link" role="tab" href="#record" id="record">収支記録</a></li>
		<li class="nav-item"><a class="nav-link" role="tab" href="#transition" id="transition">収支推移</a></li>
	</ul>	
</div>