<div class="record-content">
	<div class="mselector-line col-md-12 col-lg-12">
		<h2 id="previous"><</h2>
		<h2 id="mselector">●●●●年●●月</h2>
		<h2 id="next">></h2>
	</div>
	<div class="spread-sheet"></div>
	<div class="buttons text-right">
		<button class="btn btn-primary">記録の追加</button>
		<button class="btn btn-primary">記録の編集</button>
		<button class="btn btn-primary">記録の削除</button>
	</div>
</div>
	