<h4 id="income">
	<span>収入</span>
	<span id="separator-collon">:</span>
	<span id="value"><%= total.income %> 円</span>
</h4>
<h4 id="expense">
	<span>支出</span>
	<span id="separator-collon">:</span>
	<span id="value"><%= total.expense %> 円</span>
</h4>