/* basic area */
html, body {
	height: 100%;
}

/* header */
.header-area {
	height: 20%;
	position: relative;
}
.header-area .header-content {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.header-area .header-content h1 {
	margin-bottom: 16px;
}
.header-area #menu-tab {
	width: 100%;
}

/* contents area*/
.contents-area {
	height: 80%;
}

/* home */
.home-content,
.home-content .pane1,
.home-content .pane2 {
	height: 100%;
}
.home-content .mselector-line,
.home-content .pane1,
.home-content .pane2 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.home-content .mselector-line {
	height: 10%;
}
.home-content .mselector-line > * {
	display: inline;
}
.home-content .pane1 ul,
.home-content .pane2 ul {
	height: 90%
}
.home-content .pane1 ul > li {
	height: 33%;
}
.home-content .pane1 ul > li > h2 + h4 {
	padding-left: 40px;
	padding-top: 20px;
	text-decoration: underline;
}
.home-content .pane2 ul > li {
	height: 50%;
}
.home-content .mselector-line {
	background-color: lightgray;
}
.home-content .pane1 {
	background-color: lightgoldenrodyellow;
}
.home-content .pane2 {
	background-color: lightskyblue;
}