/* basic style */
html, body , .app {
	height: 100vh;
}

.app {
	background-color: whitesmoke;
}

.header-area {
	height: 15%;
}

.contents-area {
	height: 85%;
}

.use_icon {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* menu  and app name style */
.header-area h1 {
	margin-bottom: 10px;
}
.header-area .menu {
	width: 100%;
}

/* month selector style */
.mselector-line {
	height: 10%;
}

.mselector-line > #mselector {
	padding-top: 15px;
	padding-bottom: 5px;	
}

/* login content */
.login-content .form-box {
	width: 400px;
	height: 38px;
	margin-bottom: 15px;	
}

.login-content .inline-items {
	display: inline-block;
}

.login-content #checkbox-remember {
	padding-top: 7px;
}

.login-content .other-controls {
	width: 400px;
	margin-bottom: 15px;	
}

/* create account content style */
.create-account-content .form-box {
	width: 400px;
	height: 38px;
	margin-bottom: 15px;	
}

.create-account-content #title {
	margin-bottom: 15px;
	height: 48px;
}

.create-account-content .inline-items {
	display: inline-block;
}

/* home content style */
.home-content {
	height: 100%;
}
.home-content .pane1,
.home-content .pane2 {
	height: 90%;
}
.home-content .pane1,
.home-content .pane2 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.home-content .pane1 ul,
.home-content .pane2 ul {
	height: 90%
}
.home-content .pane1 ul > li {
	height: 33%;
}
.home-content .pane1 ul > li > h2 + h4 {
	padding-left: 40px;
	padding-top: 20px;
	text-decoration: underline;
}
.home-content .pane2 ul > li {
	height: 50%;
}
.home-content .pane1 {
	background-color: lightgoldenrodyellow;
}
.home-content .pane2 {
	background-color: lightskyblue;
}

/* record content style */
.record-content {
	height: 100%;
}
.record-content .spread-sheet {
	height: 80%;
}
.record-content .buttons {
	height: 10%;
}

/* transition content style */
.transition-content {
	height: 100%;
}
.transition-content .tansition-table {
	height: 90%;
}

/* badget content style */
.badget-content {
	height: 100%;
	width: 100%;
}

.badget-content .content {
	height: 90%;
}

.badget-content .table-container {
	width: 50%;
	height: 70%;
}

/* badget table style */
.table-container #plus-button {
	color: deepskyblue; 
}

.table-container #edit-button {
	margin-right: 1em;
}

.table-container #save {
	width: 100%;
}

.table-container .thead > table {
	margin-bottom: 0;
}

.table-container .tbody {
	height: 400px;
	overflow: auto;
}

.table-container .tcol1 {
	width: 30%;
}

.table-container .tcol2 {
	width: 25%;
}

.table-container .tcol3 {
	width: 30%;
}

.table-container .tcol4 {
	width: 15%;
}