<td class="btcol1" id="name" contentEditable=true><%= name %></td>
<td class="btcol2" id="value" contentEditable=true><%= value %></td>
<td class="btcol3" id="memo" contentEditable=true><%= memo %></td>
<td class="btcol4" id="delete"><a id="delete" href="javascript:void(0)"><i class="fas fa-trash-alt fa-lg"></i></i></a></td>		
